{% extends 'base.html' %}
{% load static %}



{% block content %}

    <main>

        <div class="slider-area gray-bg position-relative">
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-caption hero-caption2">
                                <h2>Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">

                            {% for blog in blogs %}
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        {% if blog.image %}
                                            <img class="card-img rounded-0"
                                                 src="{{ blog.image.url }}" alt="">
                                        {% endif %}
                                        <a href="#" class="blog_item_date">
                                            <h3>{{ blog.created_date|date:"d" }}</h3>
                                            <p>{{ blog.created_date|date:"M" }}</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{% url 'blog:detail' blog.slug %}">
                                            <h2 class="blog-head" style="color: #2d2d2d;">{{ blog.title }}</h2>
                                        </a>
                                        <p>{{ blog.description|safe|slice:"300" }}...</p>
                                        <ul class="blog-info-link">
                                            <li><i class="fa fa-user"></i>
                                                {% for tag in blog.tags.all %}
                                                    {{ tag }},
                                                {% endfor %}
                                            </li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% endfor %}

                            {# paginator #}
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </section>

    </main>

{% endblock %}